{% extends 'layout.html.twig' %}

{% block title %}{{ 'info.title'|trans }}{% endblock %}

{% block record %}
    <h2>{{ 'info.title'|trans }}</h2>
    <p class="bad">{{ 'page.add_user.user_not_added_info'|trans }}</p>
{% endblock %}
