{% extends 'error.html.twig' %}

{% block title %}ERROR 404{% endblock %}

{% block body %}
    <h1>ERROR 404</h1>
    <p><a href="{{ path('main_page') }}">Back to the main page</a></p>
{% endblock %}
